.advantages {
	display: grid;
	row-gap: 30px;
}

.wrapper {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 10px 40px;
}

.title {
	align-self: center;

	font-weight: bold;
}

.h2 {
	margin-top: 47px;
}

.line {
	width: 1px;

	border: 0;
	background-color: #D2D2D2;
}

.seoText {
	padding-left: 17px;
}
