.first-level {
	display: grid;
	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.first-level-active,
.first-level:hover {
	color: var(--primary);
}

.first-level-active svg,
.first-level:hover svg {
	fill: var(--primary);
}

.second-level {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);

	font-size: 12px;

	font-weight: 300;
}

.second-block {
	margin: 15px 0 0 12px;
	padding-left: 32px;

	border-left: 1px solid #DFDFDF;
}

.thrid-level {
	display: block;

	cursor: pointer;

	color: var(--gray-dark);

	outline-offset: -1px;

	font-size: 14px;

	font-weight: 500;
}

.second-level-block {
	overflow: hidden;
}

.thrid-level-active,
.thrid-level:hover {
	color: var(--primary);
}

.list {
	margin: 0;
	padding: 0;
}
