.filled svg {
	fill: var(--primary);
}

.star svg {
	margin-right: 5px;

	outline-color: var(--primary);
}

.outline svg {
	outline: none;
}

.pointer {
	cursor: pointer;
}

.error svg {
	stroke: var(--red);
}

.wrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -15px;
	left: 0;

	color: var(--red);
}
