.logo {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 8px;
}

.text {
	color: var(--primary);

	font-size: 17px;
	font-weight: 200;
}

.text span {
	width: 159px;
	margin-right: 4px;

	font-size: 23px;
	font-weight: bold;
}
