.search {
	position: relative;

	width: 100%;

	margin-top: 22px;
}

.input {
	width: 100%;

	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.button {
	position: absolute;
	top: 3px;
	right: 3px;

	width: 30px;
	height: 30px;
	padding: 7px;
}
