.firstLevel {
	display: grid;
	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);

	font-size: 12px;

	font-weight: 300;
}

.secondBlock {
	margin: 15px 0 0 12px;
	padding-left: 32px;

	border-left: 1px solid #DFDFDF;
}

.thridLevel {
	display: block;

	cursor: pointer;

	color: var(--gray-dark);

	font-size: 14px;

	font-weight: 500;
}

.secondLevelBlock {
	overflow: hidden;
}

.thridLevelActive,
.thridLevel:hover {
	color: var(--primary);
}

.list {
	margin: 0;
	padding: 0;
}
