.icon {
	display: none;
}

.sort span {
	cursor: pointer;
}

.active {
	color: var(--primary);

	font-size: 16px;
	font-weight: bold;
}

.active .icon {
	display: inline-block;

	margin-right: 8px;
}

.sort {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 43px;
}
