.tag {
	display: inline-block;

	color: var(--white);
	border-radius: 20px;

	line-height: 14px;
}

.red {
	padding: 3px 10px;

	background: #DE0000;

	font-size: 14px;
	line-height: 19px;
}

.grey {
	padding: 5px 10px;

	background: #B3C0D9;

	font-size: 14px;
	font-weight: 600;
}

.green {
	padding: 5px 8px;

	color: var(--green);
	background: var(--green-light);

	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
}

.primary {
	padding: 4px 8px;

	color: var(--primary);
	border: 1px solid var(--primary);
	background: none;

	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
}

.ghost {
	padding: 4px 10px;

	color: var(--black);
	border: 1px solid var(--gray-light);

	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}
