html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
}

:root {
	--white: white;
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-dark: #787D85;
	--primary: #7653FC;
	--primary-hover: #5640AC;
	--orange: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans Display", sans-serif;
}